ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progress-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Alinha o texto verticalmente no meio */
  width: 100%;
  /* Largura total */
  background-color: #f3f3f3;
  /* Cor do fundo */
  border-radius: 8px;
  overflow: hidden;
  height: 30px;
  /* Altura da barra */
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  height: 30%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.progress-text {
  font-size: 14px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  white-space: nowrap;
}