ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.painel-texto {
  background-color: rgb(175, 174, 174);
}

.meta-item {
  margin-bottom: 10px;
}

.submeta-item {
  margin-top: 10px;
  background-color: rgb(136, 136, 136);
  ;
}


.estado-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.estado-bolinha {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.nao-iniciado {
  background-color: gray;
}

.em-progresso {
  background-color: blue;
}

.finalizado {
  background-color: green;
}

.abortado {
  background-color: red;
}


.pausado {
  background-color: orange;
}

.deletado {
  background-color: red;
}

.estado-edit {
  display: flex;
  align-items: center;
  gap: 10px;
}

.metas-deletadas {
  margin-bottom: 20px;
}

.botoes {
  gap: 10px;
}