ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

ol li {
  margin-bottom: 1rem;
}

.botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.painel-texto {
  background-color: rgb(175, 174, 174);
}

.meta-item {
  margin-bottom: 10px;
}

.submeta-item {
  margin-top: 10px;
  background-color: rgb(136, 136, 136);
  ;
}

.metas-deletadas {
  margin-bottom: 20px;
}

.botoes {
  gap: 10px;
}

body {
  background-color: rgb(226, 224, 222);
}